.layout {
    display: flex;
    margin-top: 40px;
    width: 100%;
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100px;
    justify-content: space-between;
}

.column {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    height: 100%;
    width: 250px;
}

.column.time {
    width: 50px;
    font-weight: 600;
}

.cell {
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #c4c4c4;
    height: 200px;
    width: 100%;
    padding: 0 5px;
}

.cell p {
    margin: 0;
}

.event {
    position: relative;
    min-height: 15px;
    font-size: 12px;
    padding: 4px;
    color: #181818;
    border: 1px solid #c4c4c4;
    border-color: #7f9fb0;
    background-color: #cde5f1;
    border-radius: 3px;
    opacity: 50%;
}

.event:hover {
    cursor: pointer;
}

.event.attendingEvent {
    opacity: 100%;
    border-right: 5px solid #7f9fb0;
}

.event-time {
    font-size: 11px;
}

.event-title {
    font-weight: 400;
}

.column.main_stage .event {
    background-color: #eeb1aa;
    border-color: #a16a64;
}
